@charset "utf-8";

/*Utility*/
/*screen 전용*/
.sr-only{
    position : absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow-block: hidden;
}

/*한줄 말줄임*/
.sl-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*두줄 말줄임*/
.multi-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container{

}

.content-header{
    margin: 50px;
}

.image-upload{
    width: 185px;
    height: 54px;
    top: 156px;
    left: 149px;
    border-radius: 10px;
    border: transparent;
    angle: 0 deg;
    opacity: 1;
    background: #2F80ED;
}
.image-upload span{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next,
.prev{
    border: 3px solid #828282;
    width: 140px;
    height: 62px;
    border-radius: 36.5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #828282;
}
.image-carousel{
    height: 400px;
    width: 600px;
    perspective: 1000px; /* 원근감 설정 */
    /* Flexbox 추가 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */

}

.carousel__slides{
    display: flex;
    list-style: none;
    /*transition: transform 0.5s ease-in-out; !* 슬라이드 전환 효과 *!*/
    flex-direction: row;

}

.carousel__slide{
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%; /* 변형 기준점 */
    transition: transform 0.8s ease-in-out, filter 0.8s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    overflow: hidden; /* 이미지 모서리 둥글게 */

    z-index: 1; /* 스택 순서 */
    /* 초기 상태: 가운데 이미지보다 작고 흐릿하게 */
    transform: translate(-50%, -50%) scale(0.8);
    filter: blur(5px) brightness(0.7);
}
/* 양 옆의 슬라이드 위치 조정 (JavaScript로 클래스 추가) */
.carousel__slide.next {
    transform: translate(-50%, -50%) scale(0.8) translateX(250px);
    z-index: 0;
}

.carousel__slide.prev {
    /*transform: translate(-50%, -50%) scale(0.8) translateX(-250px);*/
    z-index: 0;
}

.carousel__slide.is-active {
    opacity: 1;
    filter: none; /* 필터 제거하여 선명하게 */
    transform: translate(-50%, -50%) scale(1.2); /* 확대 */
    z-index: 2; /* 가장 앞으로 */
}

.image-carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 */
}
