@charset "utf-8";

/*Utility*/
/*screen 전용*/
.sr-only{
    position : absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow-block: hidden;
}

/*한줄 말줄임*/
.sl-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*두줄 말줄임*/
.multi-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*container*/
.container{
    width: 1060px;
    height: 1170px;
    margin : 86px 180px;
    border-radius: 15px;
    border-width: 2px;
    background-color: #F2F2F2 ;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.content-header{
    width : 100%;
    /*height: 177px;*/
    /*margin: 37px 420px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content-header-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}
.divider{
    width: 650px;
    height: 0;
    margin: 37px 205px 37px 205px;
    border: 2px solid #BDBDBD;

}
.nav-movie{
    width: 372px; /* 부모 컨테이너의 너비 */
    height: 19px; /* 부모 컨테이너의 높이 */
    align-items: center;
    margin: 0 305px;
}
.list-movieNav{
    display: flex;
    flex-direction: row;
    gap: 60px
}
.on a{

}

.off a{
    color: #828282 ;
}
.link-nav{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}


.content-body{
    width: 1003px;
    height:962px;
    margin: 28px 29px;
    border: #BDBDBD 2px solid;
    border-radius: 15px;
    background-color: #F2F2F2;
}
.move-card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 18px;
    margin: 26px 27px;

}
.movie-card{
    width: 220px;
    /*height: 441px;*/
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    height: 100%; /* 부모 높이를 기준으로 꽉 채우도록 설정 */

}

.movie-name{
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;

}
.icon{
    padding: 19px 19px 0 19px;
}
.movie-info-block{
    margin: 11px 20px 18px 20px;
}

.movie-info{
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.movie-info-detail{
    display: flex;
    gap : 5px

}
.movie-info-detail-main{
    display: flex;
    gap: 20px;
}

dt{
    line-height: 100%;
    color: #828282;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0;

}
dd{
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    display: flex;
    gap : 3px;
}

.movie-actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    border-top: #BDBDBD solid 1px;
    align-items: center;
    height: 41px;
    gap: 5px;
    position: relative; /* 가상 요소의 위치 기준을 설정 */
}

.movie-actions::before {
    content: ''; /* 가상 요소를 생성 */
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 컨테이너의 수직 중앙에 위치 */
    left: calc(50% - 4px); /* gap의 절반만큼 왼쪽으로 이동하여 중앙에 위치 */
    width: 1px; /* 선의 너비 */
    height: 100%; /* 선의 높이 */
    background-color: #ccc; /* 선의 색상 */
    transform: translateY(-50%); /* 수직 중앙 정렬을 위한 변환 */
}

.movie-actions button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    padding: 9px 28px 12px 27px;
    /*width: 100%;*/
    text-align: center;
}

.button-right{
    display: flex;
    gap: 3px
}
.button-right img{
    height : 10%;
}
